body{
    margin:0;
    background-image: linear-gradient(to bottom, rgb(13, 27, 77),rgb(56, 77, 155), rgb(23, 34, 85));
}

h1{
    font-size:2.2em;
    text-align:center;
    color:rgb(168, 167, 167);
    text-shadow: black 3px 3px;
}

table{
    border-collapse: collapse;
    width: 100%;table-layout: fixed;
    height: 450px;
}

#pre-shishir{
    display:block;
    margin:auto;
    margin-top:.5em;
    width: 90%;
    background-image: linear-gradient(to bottom, rgb(8, 18, 53),rgb(32, 55, 136), rgb(33, 45, 99));
    height:560px;
    overflow:none;
    padding:10px;
    
}

td{
    font-style: inherit;
    font-size: 20px;
    color:rgb(68, 63, 63);
    background-color:rgb(226, 226, 226);
    text-align: center;
    padding:1px;
    border:2px solid black;
}

th{
    font-size:1.4em;
    color:black;
    font-style:inherit;
    text-align: center;
    background-color: gray;
    border:2px solid black;
}

ul{
    background-image: linear-gradient(to bottom,rgb(5, 12, 37), rgb(4, 9, 34));
}

li:hover{
    background-color: rgba(13, 27, 77, 0.990);
  }