#about_content{
    width: 50%;
    padding-top: 15px;
    margin-left: 25%;
    margin-right: 25%;
    
}
#about-container{
    background-image: linear-gradient(to bottom right, rgb(5, 1, 17), rgb(43, 2, 2), rgb(8, 4, 14));
}
h1{
    color: rgb(156, 146, 146);
}