#about-container{
    background-image: linear-gradient(to bottom right, rgb(5, 1, 17), rgb(43, 2, 2), rgb(8, 4, 14));
}

#event-container{
    background-image: linear-gradient(to bottom right,  rgb(8, 1, 36), rgb(12, 2, 39), rgb(11, 2, 26));
}

#celeb-container{
    background-image: linear-gradient(to bottom left, rgb(5, 1, 17), rgb(29, 0, 48), rgb(27, 1, 39));
}

#about-content, .event-content{
    display:block;
    margin:auto;
    font-family: Tahoma, Verdana, sans-serif;
}

#about-content{
    padding:20px 30px 30px;
    width:60%;
    border:dashed 2px;
    font-size:1.4em;
    border-color: rgba(90, 0, 20, 0.89);    
}

.event-content{
    width:65%;
    padding:30px;
    font-size:1.3em;
}
